<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Redux Application</h3>
    </div>
</div>
<!-- /.row -->

<!-- .row -->
<div class="row">
	<div class="col-lg-12">
		<div id="TodoApp" class="todoapp"></div>
	</div>
</div>
<!-- /.row -->