<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/font-awesome.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/todoapp.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
</body>
</html>